[submodule "tic-tac-toe/raylib"]
	path = tic-tac-toe/raylib
	url = https://github.com/ryupold/raylib.zig
[submodule "blinn-phong/raylib"]
	path = blinn-phong/raylib
	url = https://github.com/ryupold/raylib.zig
[submodule "3d-anim/raylib"]
	path = 3d-anim/raylib
	url = https://github.com/ryupold/raylib.zig
[submodule "third-person-camera/raylib"]
	path = third-person-camera/raylib
	url = https://github.com/ryupold/raylib.zig
[submodule "third-person-camera/zig-gamedev"]
	path = third-person-camera/zig-gamedev
	url = https://github.com/michal-z/zig-gamedev.git
